*{
    font-family: 'Karla', sans-serif;
}

body{
    background-color: hsl(204, 43%, 93%);
    color: white;
}

.quadrado{
    margin:4% auto;
    display:block;
    width: 60vw;
    height: 80vh;
    border-radius: 10px;
    box-shadow: 1px 1px 20px rgba(110, 110, 110, 0.274);
/*     background-color: red; */
}

.preco{
    display: flex;
    align-items: center;
}
.valor{
    padding-right: 10px;
    font-size: 30px;
    font-weight: 700;
}

/*
----blocos-----
*/
.primeiro{
    background-color: white;
    padding-left: 25px;
    height: 50%;
    border-radius: 10px 10px 0px 0px;
}
.segundo{
    background-color: hsl(179, 62%, 43%);
    width: 50%;
    height: 100%;
    padding-left: 25px;
    border-radius: 0px 0px 0px 10px;
    padding-top: 30px;
}
.terceiro{
    background-color: rgb(54, 211, 208);
    width: 50%;
    height: 100%;
    padding-top: 30px;
    padding-left: 20px;
    border-radius: 0px 0px 10px 0px;
}
/*
----fontes----
*/
.title{
    color: rgb(255, 255, 255);
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 20   px;
}
.text{
    color: hsl(71, 73%, 54%);
}
.subtext{
    color: hsl(218, 22%, 67%);
}
.primeiro .title{
    color: hsl(179, 62%, 43%);
    padding-top: 5%;
    padding-bottom: 2%;
}
.primeiro .text{
    font-weight: 700;
    margin-bottom: 3%;
}
.primeiro .subtext{
    line-height: 160%;
}
.segundo .text{
    margin-top: 10px;
    color: #fff;
}
.title.-second{
    color:white;
}
.time{
    color:rgb(52, 209, 209);
}
.terceiro .subtext{
    color: #fff;
    line-height: 120%;
}

/*
----------------------------------------------
*/

.botao:focus {
    outline:0;
}

/*
----------------------------------------------
*/


@media screen and (min-width: 800px){ 
    .segunda_metade{
        display: flex;
        height: 50%;
    }
    .botao{
        background-color: hsl(71, 73%, 54%);
        color: white;
        border: none;
        font-weight: 700;
        border-radius: 5px;
        margin-top: 30px;
        padding: 15px 95px 15px 95px;
        box-shadow: 1px 1px 20px rgba(110, 110, 110, 0.274);
    }
}

/*
----------------------------------------------
*/
@media screen and (max-width: 415px) {
    .quadrado{
        margin: auto;
        margin-top: 13%;
        width: 80vw;
        height: 85vh;
        box-shadow: 1px 1px 20px rgba(110, 110, 110, 0.274);
    }
    /*
    ----blocos-----
    */
    .primeiro{
        padding-right: 30px;
        height: 33%;
        display: block;
    }
    
    .segundo{
        height: 33%;
        padding: 0px 0px 30px 20px;
        border-radius: 0px 0px 0px 0px;
        width: auto;
    }
    .terceiro{
        padding: 0px 0px 15px 20px;
        height: 34%;
        width: auto;
        border-radius: 0px 0px 10px 10px;

    }
    /*
    ----fontes----
    */
    .title{
        font-weight: 700;
        font-size: 20px;
        padding-top: 23px;
        padding-bottom: 0px;
        margin: 0px;
    }
    .text{
        padding-right: 15px;
        padding-top: 4px;
        padding-bottom: 4px;
    }
    .primeiro .text{
        font-size: 15px;
        font-weight: 700;
        line-height: 20px;
    }
    .primeiro .subtext{
        padding-top: 0px;
        font-size: 13px;
        line-height: 25px;
        font-weight: 400;
    }
    .segundo .title{
        font-size: 20px;
        letter-spacing: 0.1px;
        color: white;
    }
    .segundo .text{
        padding-bottom: 25px;
        color: rgb(193, 220, 250);
        margin: 0px;
    }
    .terceiro .title{
        color: white;
        padding-bottom: 15px;
    }
    .terceiro .subtext{
        font-size: 15px;
        color: rgb(193, 220, 250);
        line-height: 18px;
    }
    
    /* ----------------------------------------- */
    .preco{
       padding-top: 10px;
       padding-bottom: 10px;
   }
   .botao{
       background-color: hsl(71, 73%, 54%);
       color: white;
       border: none;
       font-weight: 700;
       border-radius: 5px;
       padding: 15px 115px 15px 115px;
       margin: 0px;
       box-shadow: 1px 10px 20px rgba(110, 110, 110, 0.274);
   }
  }

